<div class="media">
    <h1>
        <%= @profile.avatar %>
    </h1>
</div>
<div class="media">
  <h1 class="media-heading">
  <%= @profile.name %>
  </h1>
</div>
  
<div class="media">
   <h3 class ="media-body">
   <%= @profile.description %>
   </h3>
</div>
<div class="media">
  <h2>
  <%= @profile.tagline %>
  </h2>
</div>  
  